body{
    background-image: url(Pics/giphy.gif);
}
h1{
    color: rgb(238, 0, 255);
    text-align: center;
}
h2{
    color: rgb(8, 0, 255);
    text-align: center;
}
p{
    color: rgb(255, 0, 0);
    text-align: center;
}
.highlight{
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid rgb(255, 0, 0);
    background-color: aliceblue;
}
a 
{
    color: white;
    text-decoration: none;
    padding: 14px 25px;
    border: 1px solid rgb(255, 0, 0);
    text-align: center;
}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
    text-align: center;
  }

