body{
    background-image: url(Pics/giphy.gif);
}
h1{
    color: rgb(238, 0, 255);
    text-align: center;
}
h2{
    color: rgb(8, 0, 255);
    text-align: center;
}
p{
    color: rgb(255, 0, 0);
    text-align: center;
}
.highlight{
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid rgb(255, 0, 0);
    background-color: aliceblue;
}