body{
    background-color: rgb(174, 197, 205);
}
h1{
    color: rgb(255, 0, 119);
    text-align: center;
}
h2{
    color: rgb(8, 0, 255);
    text-align: center;
}
p{
    color: rgb(73, 0, 128);
    text-align: center;
}